h2.intro{
  color: red;
}

p.intro{
  font-weight:900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

img.intro{
  font-kerning: unset;
  font-weight: bolder;
  font-style: italic;
}

.intro {
  color: blue;
  font-family: serif;
  font-style: super;
  font-weight: 300;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}

img {
  float: left;
}

.columns {
  width: 300px;
  float: left;
}

.columnleft {
  width: 300px;
  float:left;
}

.columnright {
  width: 300px;
  float: right;
}

.box1 {
  float: left;
  width: 50%;
  padding: 15px;
  border: teal;
  border-width: 50px;
  background-color: green;
  margin-top: 20px;
  box-sizing: border-box;
}

.box2 {
  float: right;
  width: 50%;
  padding: 15px;
  border: teal;
  border-width: 50px;
  background-color: green;
  margin-top: 20px;
  box-sizing: border-box;
}