h2.intro{
  color: red;
}

p.intro{
  font-weight:900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

img.intro{
  font-kerning: unset;
  font-weight: bolder;
  font-style: italic;
}

.intro {
  color: blue;
  font-family: serif;
  font-style: super;
  font-weight: 300;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}

img {
  float: left;
}

.columns {
  width: 300px;
  float: left;
}